/*------------------*\
    Carousel Section
\*------------------*/

.product_main_section, .section_our_team{
    .owl-theme{
        border-radius: 20px;
            .owl-nav {
                display: none;
                button {
                    background: $brand-red;
                    color: #FFF;
                    text-decoration: none;
                    font-size: 40px;
                    margin: 0;
                    position: absolute;
                    top: 42%;
                  }
                  .owl-prev {
                    left: 0;
                    padding-left: 20px;
                  }
                  .owl-next {
                    right: 0;
                    padding-right: 20px;
                  }
            }
            .owl-nav :hover {
                color: $brand-red;
                background-color: #FFF;
            }
            .owl-dots{
                display: none;
            }
            
    }
    .owl-carousel:hover .owl-nav {
        display: block;
        
    }
    .owl-item {
        text-align: center;
    }
}

