@charset "UTF-8";
/*
           Table OF Content


0 - Plugins
    a - bootstrap
    b - fontawesome
1 - Abstracts
    a - variables
    b - extends
    c - css3-mixins
    d - mixins
    e - loops
2 - Base
    a - animations
    b - bg-colors
    c - text-helpers
    d - mix-helpers
    e - base
3 - Components
    a - icons
    b - boxes
    c - buttons
    d - carousel
    e - forms
    f - lists
    g - modals
    h - tabs
4 - Layouts
    a - footer
    b - header
5 - section
    a - hero
6 - Pages
    a - home
*/
/*--------------*\
    Animations
\*--------------*/
/*--------------*\
    bg-color
\*--------------*/
/*--------------*\
    text-helpers
\*--------------*/
.text-underline {
  text-decoration: underline !important;
}

.txt_black {
  color: #000 !important;
}

.txt_light {
  color: #4F4F4F;
}

.txt_grey {
  color: #82828A;
}

.txt_white {
  color: white !important;
}

.text_brand {
  color: #ED323D;
}

.text_brand_blue {
  color: #0A253A;
}

.text_brand_light_blue {
  color: #2B2B5E;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

/*--------------*\
    Mix-Helpers
\*--------------*/
.box-glow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.separator-with-text {
  display: flex;
  align-items: center;
}
.separator-with-text:before, .separator-with-text:after {
  flex: 1;
  width: 100%;
  content: "";
  display: inline-block;
  border-bottom: 1px solid #fafafa;
}
.separator-with-text:before {
  margin-right: 20px;
}
.separator-with-text:after {
  margin-left: 20px;
}

.row-7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-7 > div[class^=col-] {
  padding-left: 7px;
  padding-right: 7px;
}

@media only screen and (max-width: 767.98px) {
  .mobile-no-bg {
    background: none !important;
  }
}

.social-list {
  list-style: none;
}
.social-list li {
  display: inline-block;
}
.social-list li:not(:last-child) {
  margin-right: 20px;
}
.social-list li a {
  font-size: 22px;
  text-align: center;
}
.social-list li a i {
  color: rgba(255, 255, 255, 0.5);
}
.social-list li a:hover i.fa-social-bg {
  color: #0A253A;
}
.social-list li a:hover i.fa-facebook-f {
  color: #3b5998;
}
.social-list li a:hover i.fa-twitter {
  color: #1da1f2;
}
.social-list li a:hover i.fa-linkedin {
  color: #0077b5;
}
.social-list li a:hover i.fa-youtube-play {
  color: #cd201f;
}

/*--------------*\
    Icon Section
\*--------------*/
.dot:before {
  content: "•";
}

i[class*=h-icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-facebook {
  display: inline-block;
  background-image: url("../images/icons/facebook.svg");
  width: 10px;
  height: 10px;
}

.icon-twitter {
  display: inline-block;
  background-image: url("../images/icons/twitter.png");
  width: 20px;
  height: 20px;
}

.icon-linkedin {
  display: inline-block;
  background-image: url("../images/icons/linkedin.svg");
}

/*--------------*\
    Base
\*--------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Now Display", sans-serif;
  font-size: 18px;
  color: #3A3A3C;
  font-weight: 400;
  position: relative;
  z-index: -2;
  position: relative;
}

@media only screen and (min-width: 87em) {
  .container {
    max-width: 1320px;
  }
}
h1, h2, h3, h4 {
  color: black;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  color: #3A3A3C;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0A253A;
}

.primary_font {
  font-size: 15px;
}

.secondrey_font {
  font-size: 19px;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}
@media only screen and (max-width: 991.98px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 45px;
  font-weight: 700;
}
@media only screen and (max-width: 991.98px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (max-width: 991.98px) {
  h3 {
    font-size: 23px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.brand_heading {
  font-size: 24px;
  color: #0A253A;
  font-weight: 700;
  line-height: 32.4px;
}

.v_align {
  vertical-align: middle;
}

.h_100 {
  height: 100%;
}

.brand_title_b {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 15px;
}
@media only screen and (max-width: 991.98px) {
  .brand_title_b {
    margin-bottom: 20px;
  }
}

.section {
  padding: 80px 0;
}
@media only screen and (max-width: 991.98px) {
  .section {
    padding: 30px 0;
  }
}

.section_pt_80 {
  padding-top: 80px;
}
@media only screen and (max-width: 991.98px) {
  .section_pt_80 {
    padding-top: 30px;
  }
}

.section_pb_80 {
  padding-bottom: 80px;
}
@media only screen and (max-width: 991.98px) {
  .section_pb_80 {
    padding-bottom: 30px;
  }
}

.mb_40 {
  margin-bottom: 40px;
}

ul {
  margin: 0;
}

.clr_brand {
  display: inline-block;
  color: #ED323D !important;
}

.flex_v_center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.border_left {
  position: relative;
  padding-left: 15px;
}
.border_left:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #ED323D;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.border_y {
  border-top: 1px solid rgba(0, 0, 0, 0.055);
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}

.border_r_0 {
  border-radius: 0 !important;
}

.fs-14 {
  font-size: 14px;
}

.bg_white {
  background-color: white !important;
}

.bg_grey {
  background-color: #F4F3F8 !important;
}

.bg_grey2 {
  background-color: #F0EFF4;
}

.lh_24 {
  line-height: 24px !important;
}

.px-20 {
  padding: 2px 20px !important;
}

.pb_80 {
  padding-bottom: 80px;
}
@media only screen and (max-width: 991.98px) {
  .pb_80 {
    padding-bottom: 30px;
  }
}

.pt_80 {
  padding-top: 80px;
}
@media only screen and (max-width: 991.98px) {
  .pt_80 {
    padding-top: 30px;
  }
}

.bg_brand_blue {
  background: rgba(10, 37, 58, 0.93);
}

.w-f-content {
  width: fit-content;
}

.border-d-left {
  border-left: 2px dashed rgba(255, 255, 255, 0.73);
}

.h-100 {
  height: 100%;
}

.font-30 {
  font-size: 30px;
}

.sub_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.font_cormorant {
  font-family: "Cormorant Garamond", serif;
}
.font_cormorant.fw-500 {
  font-weight: 500;
}
.font_cormorant.fw-600 {
  font-weight: 600;
}
.font_cormorant.fw-400 {
  font-weight: 400;
}

.flex_align {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

hr.underline {
  width: 10%;
  background: red;
  height: 2px;
}

ul.list_none li {
  list-style: none;
}

.object_fit {
  object-fit: cover;
}

/*--------------*\
    Boxes Section
\*--------------*/
.box {
  padding: 30px;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(179, 179, 179, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(179, 179, 179, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(179, 179, 179, 0.75);
}
.box .service_icon {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.box .service_icon span {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
}
.box .service_icon span img {
  width: 100%;
}

/*-----------------*\
    Button Section
\*-----------------*/
.btn:hover, .btn:focus {
  outline: none;
}

.btn_brand {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0px 10px 0px 10px;
  padding: 10px 30px 10px 30px;
  background-color: #ED323D;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn_brand.sm {
  padding: 6px 30px 6px 30px;
  font-size: 13px;
}
.btn_brand:hover {
  background-color: #0A253A;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
}

.btn_brand_blue {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0px 10px 0px 10px;
  padding: 10px 30px 10px 30px;
  background-color: #0A253A;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn_brand_blue.sm {
  padding: 6px 30px 6px 30px;
  font-size: 13px;
}
.btn_brand_blue:hover {
  background-color: #ED323D;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
}

.btn_brand_outline {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0px 10px 0px 10px;
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #0A253A;
  letter-spacing: 2px;
  transition: 0.5s;
  border: 1px solid #0A253A;
}
.btn_brand_outline.sm {
  padding: 6px 30px 6px 30px;
  font-size: 13px;
}
.btn_brand_outline:hover {
  background-color: #ED323D;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
  border: 1px solid #ED323D;
}

.btn_outline {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  font-weight: 500;
  font-size: 10px;
  color: #0A253A;
  letter-spacing: 2px;
  transition: 0.5s;
  border: 1px solid #0A253A;
}
.btn_outline.sm {
  padding: 6px 30px 6px 30px;
  font-size: 8px;
}
.btn_outline:hover {
  background-color: #ED323D;
  color: #fff;
  border: 1px solid #ED323D;
}

/*------------------*\
    Carousel Section
\*------------------*/
.product_main_section .owl-theme, .section_our_team .owl-theme {
  border-radius: 20px;
}
.product_main_section .owl-theme .owl-nav, .section_our_team .owl-theme .owl-nav {
  display: none;
}
.product_main_section .owl-theme .owl-nav button, .section_our_team .owl-theme .owl-nav button {
  background: #ED323D;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 42%;
}
.product_main_section .owl-theme .owl-nav .owl-prev, .section_our_team .owl-theme .owl-nav .owl-prev {
  left: 0;
  padding-left: 20px;
}
.product_main_section .owl-theme .owl-nav .owl-next, .section_our_team .owl-theme .owl-nav .owl-next {
  right: 0;
  padding-right: 20px;
}
.product_main_section .owl-theme .owl-nav :hover, .section_our_team .owl-theme .owl-nav :hover {
  color: #ED323D;
  background-color: #FFF;
}
.product_main_section .owl-theme .owl-dots, .section_our_team .owl-theme .owl-dots {
  display: none;
}
.product_main_section .owl-carousel:hover .owl-nav, .section_our_team .owl-carousel:hover .owl-nav {
  display: block;
}
.product_main_section .owl-item, .section_our_team .owl-item {
  text-align: center;
}

/*--------------*\
    Form Section
\*--------------*/
/*--------------*\
    Lists Section
\*--------------*/
.check_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media only screen and (max-width: 991.98px) {
  .check_list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
.check_list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 14px;
}
.check_list li span {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.check_list li span i {
  font-size: 18px;
}

/*--------------*\
    Modals Section
\*--------------*/
/*--------------*\
    Tabs Section
\*--------------*/
.social_icon {
  display: flex;
  align-items: center;
}
.social_icon a {
  background-color: #0A253A;
  width: 20px;
  height: 20px;
  border-radius: 0 4px 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.social_icon a i {
  font-size: 10px;
  color: #fff;
}
.social_icon a:hover {
  border-radius: 4px 0 4px 0;
  background-color: #ED323D;
}
.social_icon a + a {
  margin-left: 10px;
}
.social_icon.footr_social {
  margin-top: 20px;
}
.social_icon.footr_social a {
  background-color: #ED323D;
}
.social_icon.footr_social a:hover {
  background-color: #fff;
}
.social_icon.footr_social a:hover i {
  color: #ED323D;
}

/*--------------*\
      Banner
\*--------------*/
.top_banner {
  background: linear-gradient(180deg, #ED3423 0%, #0A0A0A 100%);
  color: white;
}
.top_banner h1 {
  color: white;
}
.top_banner h5 {
  color: white;
}

.bottom_banner {
  border-radius: 10px;
  margin: 50px auto;
  background: black;
  padding-left: 60px;
  padding-right: 60px;
}
.bottom_banner h3 {
  color: white;
  font: 36px;
}
@media only screen and (max-width: 767.98px) {
  .bottom_banner {
    margin: 0 0 10px;
    text-align: center;
  }
}

.quote_banner {
  background-image: url(../images/background_product_side.jpg);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote_banner h3 {
  background-color: #ED323D;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.quote_banner h3 i {
  color: #fff;
}
.quote_banner h4 {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.quote_banner hr {
  height: 1px;
  color: white;
}
.quote_banner > div {
  text-align: center;
}
.quote_banner > div span {
  font-size: 15px;
}
.quote_banner > div h5 {
  font-weight: 700;
}

.bottom_banner_gradient {
  background-image: linear-gradient(90deg, #000000 0%, #ED3423 100%);
  border-radius: 10px;
  position: relative;
  z-index: 10;
  margin-bottom: -45px;
}
@media only screen and (max-width: 991.98px) {
  .bottom_banner_gradient {
    margin-bottom: -15px;
  }
}
@media only screen and (max-width: 767.98px) {
  .bottom_banner_gradient {
    text-align: center;
  }
}

.single_post_banner {
  background-image: url(./../images/Single_post.jpg);
  background-size: cover;
  background-position: center;
}
.single_post_banner h5 {
  color: #a0a0c0;
  text-align: center;
}
.single_post_banner h5 a {
  color: #a0a0c0;
}

.info_box li {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.info_box li h3 {
  margin-right: 15px;
  background-color: #ED323D;
  min-width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.info_box li h3 i {
  color: #fff;
}
.info_box li > i {
  color: #ED323D;
  font-size: 50px;
}
.info_box li h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2B2B5E;
  font-size: 18px;
  font-weight: 600;
}

/*--------------*\
    header Section
\*--------------*/
header {
  padding: 10px 0;
}
header .header_top {
  border-bottom: 1px dashed #0A253A;
  padding-top: 25px;
  padding-bottom: 8px;
}
header .header_main {
  padding-top: 15px;
}
header .header_main .navbar-brand {
  max-width: 150px;
}
header .header_main .navbar-nav li {
  font-size: 15px;
}
header .header_main .navbar-nav li + li {
  margin-left: 20px;
}
header .header_main .navbar-nav li .dropdown-menu {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 0;
}
header .header_main .navbar-nav li .dropdown-menu a {
  padding: 10px 6px;
  font-size: 13px;
  color: #0A253A;
}
header .header_main .navbar-nav li .dropdown-menu a:last-of-type {
  border-radius: 0 0 6px 6px;
}
header .header_main .navbar-nav li .dropdown-menu a:hover {
  background-color: #0A253A;
  color: #fff;
}

.admin_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin_info a {
  color: #0A253A;
  font-size: 12px;
  padding: 0 10px;
}
.admin_info a i {
  font-size: 14px;
  margin-right: 8px;
}
.admin_info a + a {
  border-left: 1px dashed #0A253A;
}
.admin_info a:last-of-type {
  padding-right: 0;
}

/*--------------*\
    Footer Section
\*--------------*/
.section_footer {
  background-color: #0A253A;
}
.section_footer .row {
  margin: 0 !important;
}
.section_footer .footer_top {
  border-bottom: 2px solid rgba(255, 255, 255, 0.13);
  padding-bottom: 50px;
}
.section_footer .footer_top .footer_left .footer_logo {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
.section_footer .footer_top .footer_left P {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
.section_footer .footer_top .footer_nav h6 {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.section_footer .footer_top .footer_nav ul {
  padding-left: 0;
  list-style: none;
}
.section_footer .footer_top .footer_nav ul li {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}
.section_footer .footer_top .footer_nav ul li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.section_footer .footer_top .footer_nav ul li a:hover {
  color: #999999;
}

/*--------------*\
    Hero Section
\*--------------*/
.section_hero {
  background-image: url("/assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}
.section_hero .hero_content {
  max-width: 750px;
  background: rgba(10, 37, 58, 0.66);
  margin-left: auto;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.section_hero .hero_content h6 {
  color: #fff;
}
.section_hero .hero_content h2, .section_hero .hero_content p {
  color: #fff;
  margin-bottom: 20px;
}

.hero_section_banner {
  background-image: url("/assets/images/about-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}
.hero_section_banner .hero_banner_content {
  max-width: 750px;
  background: rgba(10, 37, 58, 0.66);
  margin-left: auto;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.hero_section_banner .hero_banner_content h2, .hero_section_banner .hero_banner_content p {
  color: #fff;
  margin-bottom: 20px;
}

/*--------------*\
    Home Page
\*--------------*/
.section_about_us h2 {
  margin-bottom: 20px;
}
.section_about_us h5 {
  margin: 20px 0 7px;
}

.section_services {
  color: #fff;
  background-color: #3A3A3C;
  padding: 60px;
}
.section_services .main_heading {
  color: white;
  margin-bottom: 20px;
}
.section_services .sub_title_services {
  margin-bottom: 56px;
}
.section_services .card_services {
  border-radius: 16px;
  border: 0px;
}
.section_services .card_services .img {
  border-radius: 16px;
}
.section_services .card_services .desc {
  padding: 20px 20px 0 20px;
}
.section_services .card_services .desc p {
  color: #777;
  font-size: 15px;
  line-height: 1.5rem;
  padding-bottom: 13px;
}
.section_services .card_services .desc a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.section_services .card_services .desc .date {
  color: #adadad;
  font-size: 12px;
  line-height: 1.3em;
}
.section_services .card_services .desc .date span::before {
  content: "•";
  margin: 0 5px;
}

.section_testimonials .owl-carousel {
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.section_testimonials .owl-carousel .profile_details a {
  margin-top: 10px;
  width: 90px;
  padding: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.section_testimonials .owl-carousel .profile_details a img {
  border-radius: 50%;
}
.section_testimonials .owl-carousel .profile_details h4 {
  font-weight: 800;
}

.product_main_section .owl-theme img {
  border-radius: 20px;
}

.location_main_section h2 {
  color: #2B2B5E;
  margin-bottom: 40px;
}
.location_main_section iframe {
  width: 100%;
  min-height: 450px;
}

.blog_main_section .pagination {
  display: inline-block;
}
.blog_main_section .pagination a {
  color: #0A253A;
  float: left;
  margin: 0 5px;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.5s;
  border: 2px solid #E2DFEB;
  border-radius: 4px;
}
.blog_main_section .pagination a.active {
  color: #FFF;
  background-color: #ED323D;
  border: 2px solid #ED323D;
}
.blog_main_section .pagination a:hover:not(.active) {
  background-color: #FFF;
  border: 2px solid #ED323D;
}
.blog_main_section ul li {
  list-style: none;
}

/*-------about-hero-section-------*/
.about_hero {
  background-image: url("/assets/images/about-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}
.about_hero .about_content {
  max-width: 750px;
  background: rgba(10, 37, 58, 0.66);
  margin-left: auto;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.about_hero .about_content h2, .about_hero .about_content p {
  color: #fff;
  margin-bottom: 20px;
}

/*-------section_about_services-------*/
.office_location {
  background-color: #0A253A;
  border-bottom: 1px solid gray;
}

/*-------section_about_testimonial-------*/
.section_about_testimonial {
  background-color: #ED323D;
  background-image: url("/assets/images/testimonial.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: 70vh;
}
.section_about_testimonial .testimonial_icon {
  width: 42px;
}
.section_about_testimonial img {
  width: 100px;
}
.section_about_testimonial .testimonial_background {
  background-color: #0A253A;
  border-radius: 15px;
}

/*-------what-we-offer-hero-section-------*/
.what_we_offer_hero {
  background-image: url("/assets/images/what_we_offer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}
.what_we_offer_hero .what_we_offer_content {
  max-width: 750px;
  background: rgba(10, 37, 58, 0.66);
  margin-left: auto;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.what_we_offer_hero .what_we_offer_content h2, .what_we_offer_hero .what_we_offer_content p {
  color: #fff;
  margin-bottom: 20px;
}

/*-------section_what_we_offer_services-------*/
.section_what_we_offer_services h2 {
  margin-bottom: 20px;
}

.inner_what_we_offer_services {
  background-color: #0A253A;
  padding: 90px;
  border-radius: 20px;
}

/*# sourceMappingURL=main.css.map */
